.footer {
  background-color: $xl-gray;
  color: $l-black;

  &__container {
    display: flex;
    max-width: 1218px;
    margin: 0 auto;
    padding-block: 100px;
  }

  &__info {
    max-width: 415px;
    margin-right: 105px;
  }

  &__social {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  &__link {
    &:first-of-type {
      position: relative;
      top: 6px;
      left: -4px;
      margin-right: 34px;
    }

    &:not(:first-of-type) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid $d-gray;
      border-radius: 50%;
      transition: 0.3s;
      margin: 0 8px;

      svg {
        fill: transparent;
        stroke: $d-gray;
        transition: 0.3s;
      }

      &:hover {
        border-color: $orange;
        transition: 0.3s;

        svg {
          stroke: $orange;
          transition: 0.3s;
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 0;
    margin-bottom: 70px;
  }

  &__contacts-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 45%;

    &:first-of-type,
    &:nth-of-type(2) {
      width: 100%;
    }

    a {
      cursor: pointer;
      color: $l-black;
      transition: 0.3s;

      &:hover {
        color: $orange;
        transition: 0.3s;
      }
    }

    span {
      &:first-of-type {
        color: $m-gray;
      }
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $m-gray; 

    a {
      cursor: pointer;
      text-decoration: underline;
      color: $m-gray;
      transition: 0.3s;

      &:hover {
        color: $orange;
        transition: 0.3s;
      }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-self: end;
    gap: 55px 0;
  }

  &__nav-title {
    font-size: 18px;
    margin-bottom: 25px;
  }

  &__nav-container {
    width: 50%;

    &:nth-of-type(2) {
      position: relative;
      left: 5px;
      
      li:last-of-type {
        width: 120%;
      }
    }

    &:last-of-type {
      width: 100%;

      .footer__nav-list {
        flex-direction: row;
        li {
          width: 50%;
        }
      }
    }

    a {
      color: $l-black;
      transition: 0.3s;

      &:hover {
        color: $orange;
        transition: 0.3s;
      }
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px 0;
  }

  &__other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__other-btn {
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: $orange;
    bottom: 220px;
    right: 390px;
    width: 150px;
    min-height: 150px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid $orange;
    transition: 0.3s;

    &:hover {
    color: $d-gray;
    border-color: $d-gray;
    transition: 0.3s;
    }
  }

  &__other-dev {
    position: relative;
    top: 5px;
  }
}