.header {
  &__container {
    display: flex;
    gap: 16px;
    max-width: 1218px;
    margin: 0 auto;
    padding-block: 25px;
  }

  &__language {
    position: relative;
    padding: 4px 15px;
    margin-right: 137px;
    border: none;

    &::after {
      position: absolute;
      content: "/";
      top: 4px;
      left: 46px;
    }

    input:checked + label {
      color: $l-gray;
    }
  }

  &__language-option {
    cursor: pointer;
    margin: 0 7px;
    &:hover {
      color: $m-gray;
      transition: 0.3s;
    }
  }

  &__nav {
    display: flex;
    gap: 24px;
    margin-right: 84px;
  }

  &__item {
    padding: 4px 0;
  }

  &__link {
    color: inherit;
    transition: 0.3s;

    &--active {
      font-weight: 600;
      color: $m-gray;
    }

    &:hover {
      color: $m-gray;
      transition: 0.3s;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10.5px;
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    padding: 0 5px;

    &--chart {
      position: relative;
      left: 14px;

      &::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        top: -13px;
        left: -5px;
        border: 1px solid $xl-gray;
        border-radius: 50%;
        transition: 0.3s;
      }

      svg {
        stroke: $xl-gray;
      }
    }

    &:hover {
      svg {
        stroke: $l-gray;
        transition: 0.3s;
      }
    }

    svg {
      stroke: $m-gray;
      fill: $black;
      transition: 0.3s;
    }
  }
}