.ideal {
  position: relative;
  padding: 103px 290px 0;
  background-image: url("/public/img/svg/logo-big-d.svg");
  background-repeat: no-repeat;
  background-position: center 505px;
  background-size: 1218px;
  
  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 291px;
    top: 181px;
    width: 568px;
    height: 568px;
    background: radial-gradient(50% 50% at 50% 50%, $orange 0%, rgba(246, 79, 0, 0) 100%);
    filter: blur(32px);
    z-index: -1;
  }

  &::after {
    left: 857px;
    top: 108px;
    width: 524px;
    height: 524px;
    background: radial-gradient(50% 50% at 50% 50%, $blue 0%, rgba(1, 120, 243, 0) 100%);
  }

  &__title {
    color: $xl-gray;
    text-align: center;
    max-width: 650px;
    margin: 0 auto 21px;
  }

  &__text {
    font-size: 18px;
    text-align: center;
    color: $l-gray;
    margin-bottom: 18px;
  }

  &__img {
    position: relative;
    left: 97px;
    top: 39px;
  }

  &__link {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: $black;
    bottom: 201px;
    right: 483px;
    width: 150px;
    min-height: 150px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      background-color: $l-gray;
      transition: 0.3s;
    }
  }
}