.ideal {
  padding: 150px 190px 0;

  position: relative;
  
  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 291px;
    top: 181px;
    width: 568px;
    height: 568px;
    background: radial-gradient(50% 50% at 50% 50%, $orange 0%, rgba(246, 79, 0, 0) 100%);
    filter: blur(32px);
    z-index: -1;
  }

  &::after {
    left: 857px;
    top: 108px;
    width: 524px;
    height: 524px;
    background: radial-gradient(50% 50% at 50% 50%, $blue 0%, rgba(1, 120, 243, 0) 100%);
  }

  &__title {
    color: $xl-gray;
    text-align: center;
    max-width: 650px;
    margin: 0 auto 15px;
  }

  &__text {
    text-align: center;
    color: $l-gray;
  }

  &__img {
    position: relative;
    left: 100px;
  }

  &__link {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: $black;
    bottom: 220px;
    right: 390px;
    width: 150px;
    min-height: 150px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      color: $d-gray;
      border-color: $d-gray;
      transition: 0.3s;
    }
  }
}