.swiper {
   padding-top: 100px !important;
   top: -100px;

  .swiper-button-next {
    width: 78px;
    height: 58px;
    border: 1px solid $m-gray;
    border-radius: 0 30px 30px 0;

    &.choise__btn {
      top: 22px;
      right: 0;
    }

    &.slider__btn {
      top: 400px;
      right: 350px;
    }

    &::after {
      font-size: 16px;
      background-repeat: no-repeat;
      content: url('/public/img/svg/arr.svg');
    }
  } 

  .swiper-button-prev {
    width: 78px;
    height: 58px;
    border: 1px solid $m-gray;
    border-radius: 30px 0 0 30px;

    &.choise__btn {
      top: 22px;
      left: 1063px;
    }

    &.slider__btn {
      top: 400px;
      left: 350px;
    }

    &::after {
      font-size: 16px;
      background-repeat: no-repeat;
      content: url('/public/img/svg/arr.svg');
      transform: rotate(180deg);
    }
   }
}